
MathNoteApp/.idea/caches/build_file_checksums.ser
MathNoteApp/.idea/gradle.xml
MathNoteApp/.idea/vcs.xml
MathNoteApp/.idea/runConfigurations.xml
MathNoteApp/.idea/misc.xml
MathNoteApp/.idea/assetWizardSettings.xml
