<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone.mathnote_capstone">
        
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/notebook_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/notebook_splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.InstructionActivity"
            android:noHistory="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AlgebraDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.WebviewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.GradeActivity"
            android:noHistory="true" />
        <activity
            android:name=".activity.UserNoteActivity"
            android:noHistory="true" />
        <activity
            android:name=".activity.ProgressActivity"
            android:label="@string/title_activity_progress"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.QuizActivity"
            android:noHistory="true" />
        <activity android:name=".activity.NoteListActivity" />
        <activity android:name=".activity.ReviewQuizActivity" />
        <activity android:name=".activity.FavoriteActivity"></activity>
    </application>

</manifest>